@use 'variables';

.event {
    padding: 80px 0;

    &--img-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
        background-color: variables.$color3;
        border-radius: 25px;
        align-items: center;
    }

    &__image {
       max-width: 360px; 
       border-radius: 25px;
    }

    &__details {

        &__title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 16px;
            color: variables.$primaryColor;
            text-align: center;
        }

        &__description {
            line-height: 22px;
            color: variables.$color2;
            margin: 0 6px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
            border-radius: 25px;
            height: 507px;
        }

        &__image {
            max-width: 100%;
            border-radius: 25px;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;

            &__title {
                padding-top: 16px;
            }
        }
    }
}