@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../img/fundo-byseuamor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryColor;
        content: '';
        opacity: 0.7;
    }

    &__logo {
        margin: 0 auto;
        width: 250px;
        display: block;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;

        b {
            color: variables.$primaryColor;
        }
    }

    @media (max-width: 430px) {
        background-image: url(../img/fundomobile-byseuamor.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            opacity: 0.8;
        }
    }
}